extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to Update
 else 
  - let costumeid = toShow._id
  - let costume_type = toShow.costume_type
  - let costumecost = toShow.cost
  - let costumesize = toShow.size
    
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{costumeid}
    - let actionid = "/resource/costumes/" + costumeid
    form(id='costumeForm', action= actionid, method="PUT")
        div.form-group
            label.costumeAttr(for='costume_type') Costume Type
            input#costume_type(type='text', name='costume_type', value= costume_type )
        div.form-group
            label.costumeAttr(for='costumecost') Costume Price
            input#costumeprice(type='number', name='costumecost', value= cost)
        div.form-group
            label.costumeAttr(for='costumesize') Costume Size
            input#costumesize(type='text', name='costumesize', value= size )

        input(type="submit")

    script.
        document.forms['CostumeForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        console.log(event.target)
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'PUT',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Update succeded")
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Update failed " + error )
        });
        });
    div(class="container-fluid") 
    div(class="row m-1") 
      each item in items  
        - let destination = `dispatch(\"/costumes/update?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") Item #{item.costume_type}(#{item.size}) is #{item.cost} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update 
   
  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 
 