extends layout
block content
 h1= title
 h1= title
 if (toShow == null)
  h2 No instance to Update
 else 
  - let costumeid = toShow._id
  - let costume_type = toShow.costume_type
  - let costumecost = toShow.cost
  - let costumesize = toShow.size
 div
  div.row
   div(class='costumeAttr mr-3') Costume ID is: #{costumeid}
  div.row
   div(class='costume mr-3') Costume Type is: #{costume_type}
  div.row
   div(class='costumeAttr mr-3') Costume Size is: #{costumesize}
  div.row
   div(class='costume mr-3') Costume Cost is: #{costumecost}